<!DOCTYPE html>

<!--
    IN THIS FILE WE WILL CREATE EACH GAME IN A DIV THAT HAS AN OPTION hidden THAT WILL BE TRUE
-->

<head>
    <title>Join a room</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<!-- 
integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" -->

<body>
    <div id=setup_rooms>
        <div class="pure-g" style="padding: 30px;">
            <div class="pure-u-1-3" style="text-align:center">
                <p>Name:</p><input id="name">
                <button class="pure-button" onclick="send_name()">Set Name</button>
            </div>
            <div class="pure-u-1-3" style="text-align:center">
                <button class="pure-button" onclick="create_game()">Create Game</button>
            </div>
            <div id="rooms_div" class="pure-u-1-3" style="text-align:center">
                <p>Rooms:</p>
            </div>
        </div>
    </div>
    <div id="pick_game" hidden=true style="text-align:center">
        <button class="pure-button" onclick="choose_game('blackjack');" ">Blackjack</button>
        <button class="pure-button " onclick="choose_game( 'james_bond'); " ">James Bond</button>
    </div>
    <div id="game_div" hidden=true>
        <p id=game_name></p>
        <div id=players_div>
            <div id=players>
                <h2>Players</h2>
            </div>
            <div id=inner_game_div>
                <html id=james_bond src=james_bond.html>

                </html>

                <div id=blackjack hidden=true>
                    <p>This is the blackjack div</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/script.js "></script>