Body {
    background-color: lightgreen
}

Button {
    padding: 10px;
    margin: 15px;
}

#players {
    width: 200px;
    margin: 50px;
    float: right;
    top: -40px;
    border-left: 1px solid black;
}